[submodule "arbitration-dlib"]
	path = arbitration-dlib
	url = git@github.com:cartesi/arbitration-dlib.git
[submodule "machine-solidity-step"]
	path = machine-solidity-step
	url = git@github.com:cartesi/machine-solidity-step.git
